.mainSlider {
  display: flex;
  height: 70vh;
  max-height: 600px; 
}

.mainSlider .sliderWrapper {
  flex: 1 0 80%;
  height: 100%;
}

.mainSlider .images {
  flex: 1 0 20%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (max-width:1000px){
  .mainSlider .images{
    display: none;
  }
}

.images div {
  flex: 1;
  overflow: hidden;
}

.mainSlider .images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.mainSlider :global(.swiper) {
  height: 100%;
}

.mainSlider :global(.swiper .swiper-slide img) {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  object-position: right;
}

.categoriesSlider:global(.swiper) img{
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.categoriesSlider{
  margin-top: 1rem;
  margin-bottom: 6rem;
}

.categoriesSlider :global(.swiper-slide){
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.categoriesSlider :global(.swiper-slide) >div{
  flex:1 ;
}
.categoriesSlider :global(.swiper){
  padding-bottom: 1.5rem;
}
.categoriesSlider :global(.swiper-slide){
  margin-inline: 0.5rem;
}
