:root{
  --main-color:#08ac0a;
  --dark-gray:#202020;
  --gold:goldenrod;
  --red:#cf0000;
  --light-gray:#f0f3f2;
}
#root{
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}
a{
  color:inherit;
}

.objectFitCover{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main-color{
  color:#08ac0a;
}
.bg-color{
  background-color:#08ac0a;
}

.gold{
  color: var(--gold);
}

a{
  text-decoration: none;
}

button,
input{
  border: none;
  background-color: transparent;
}

button{
  display: flex;
  align-items: center;
  gap: 0.35rem;
  justify-content: center;
}

button svg{
  font-size: 1.25rem;
}